html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 10000px;
}


/* Latihan 1 */

.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama{
    flex: 3;
    order: 2;
    
}

.sidebar-satu{
    flex: 1;
    order: 1;
}

.sidebar-dua{
    flex: 1;
    order: 3;
}


/* Latihan 2 */

.container-dua{
    max-width: 800px;
    margin: 50px auto;
    /* display: flex; */
    /* justify-content: space-between; */
}

.layanan{
    /* width: 30%; */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.layanan.satu{
    background-color: rgb(119, 119, 255);
}

.layanan.dua{
    background-color: rgb(103, 216, 103);
}

.layanan.tiga{
    background-color: rgb(255, 124, 124);
}

/* Latihan 3 */

.container-tiga{
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.thumbnail{
    width: 40%;
    transition: 0.2s ease;
}

.thumbnail img{
    width: 100%;
}

.thumbnail:hover{
    transform: scale(1.05,1.05);
    /* box-shadow: 0px 20px 10px -20px rgba(black, black, black, 0.6); */
}

/* Latihan 4  */

.container-empat{
    width: 80%;
    margin: 50px auto;
    /* display: flex; */
}

.card{
    border: 3px solid rgb(90, 90, 90);
    border-radius: 10px;
    overflow: hidden;
    background-color: #eee;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    height: 60%;
    
}

.card .header{
    height: 280px;
    background-color: grey;
    width: 50%;
}

.card .content{
    text-align: center;
    padding: 10%;
    width: 60%;
}

.card.besar{
    transform: scale(1.12);
}

/* Latihan 5 */

.container-lima{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid gray;
    display: flex;
}

.kotak{
    width: 100px;
    height: 100px;
    color: white;
    background-color: maroon;
    text-align: center;
    /* line-height: 100px; */
    /* margin: 250px auto; */
    /* transform: translateY(-50px); */
    margin: auto;
    display: flex;
    overflow: hidden;
}

.kotak span{
    margin: auto;
}

/* Responsive */

@media(min-width: 800px){
    .container-dua{
        display: flex;
       justify-content: space-between;
    }

    .layanan{
        width: 30%;
    }

    .thumbnail{
        width: 22%;
    } 

    .container-empat{
        display: flex;
        width: 800px;
    }
    .card{
        margin: 10px;
        display: inline-block;
        height: inherit;
    }

    .card .header{
        width: inherit;
        height: 150px;
    }

    .card .content{
        padding-bottom: 20px;
        width: inherit;
    }
}


